*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    display: inline-block;
    padding: 0 10px;
    color: #0e353d
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    background-color: #f3f5f5;
}

main{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

a{
    color: black
}

.generatore{
    color: white;
    font-weight: bold;
}

.container{
    height: 100vh;
    background-color: #0e353d;
}

.nav ol{
    list-style: none;
    color: white;
}

.logo{
    color:#0e353d;
    text-align: center
}

.casella{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 50px;
    background-color: white;
    color: black;
    line-height: 50px;
    font-size: 2em;
    padding: 0 10px;
    margin-top: 30px;
}

.prg{
    font-size: 1.5em;
}